@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import "tailwindcss";

@theme {
    --font-Sansita: "Sansita Swashed", system-ui;
    --font-Lexend: "Lexend Zetta", sans-serif;
    --color-textCol: #ADBC9F
}

body {
    background-color: #12372A;
}

